<div class="card mt-3">
  <div class="card-body">
    <div id="<%= dom_id address %>">
      <p>
        <strong>Zipcode:</strong>
        <%= address.zipcode %>
      </p>

      <p>
        <strong>Street:</strong>
        <%= address.street %>
      </p>

      <p>
        <strong>Number:</strong>
        <%= address.number %>
      </p>

      <p>
        <strong>Neighborhood:</strong>
        <%= address.neighborhood %>
      </p>

      <p>
        <strong>City:</strong>
        <%= address.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= address.state %>
      </p>
    </div>

    <div class="card-footer bg-transparent">
      <%= link_to "Edit address", edit_contact_address_path(@contact, address), class: "btn btn-dark" %>
    </div>
  </div>
</div>
